<%= render 'layouts/header' %>

<% unless @image_tag.nil? %>
<h4>
      <%=  @images.length  %>
  results for
  "<%= @image_tag %>"
</h4>
<%  end %>
<div class="image-tag-list">
  <% @images.each do |image| %>
    <%= render 'layouts/image', image: image %>
  <% end %>
</div>
